extends layout
 
block content
  include shareevent
  div.container
    h1 Search
    div.row
      div.col-md-4
        form.form-horizontal(action="/events/search", method="post")
          div.form-group
            label Keyword
            input.form-control(type="text",  name="keyword", placeholder="ex) hiking, coffee")
          div.form-group
            label Location
            input.form-control(type="text",  name="location", placeholder="ex) san francisco")
          div.form-group
            label Search radius
            input.form-control(type="text",  name="radius", placeholder="ex) 10mi")
          div.form-group
            button.btn.btn-large.btn-success#search-btn(type="submit") Find Events
      div.col-md-8
        if (events === "Could not find events matching your query.")
          h4= events
        else
          if (title === "Search")
            a(href="/events?page=" + (currentPage - 1) class=(currentPage === 1 ? 'disabled' : '')) Previous 
            a(href="/events?page=" + (currentPage + 1)) Next
          include eventspartial
