doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    .container
      .row
        .col-md-12
          .pr-wrap
            .pass-reset
              label
                | Enter the email you signed up with
              input(type='email', placeholder='Email')
              input.pass-reset-submit.btn.btn-success.btn-sm(type='submit', value='Submit')
          .wrap
            a#logo(href='/', title='Logo')
              img(src='/img/pinlogo.png', alt='Geotag Logo')
            h2 Event Listener,
            h3 Providing events near you.
            form.login(action='/' method='POST')
              input(name='username' type='text', placeholder='Username')
              input(name='password' type='password', placeholder='Password')
              if (loginError)
                p.warning= loginError
              input.btn.btn-success.btn-xs(type='submit', value='Sign In')
              input.btn.btn-success.btn-xs(type='submit', value='Create account')
              br
              br
              br
            form(action='/auth/google' method='GET')
                button.btn.btn-danger.btn-xs(type='button') Sign Up with Google
              .remember-forgot
                .row
                  .col-md-6
                    .checkbox
                  .col-md-6.forgot-pass-content
                    a.forgot-pass(href='javascript:void(0)') Forgot Password?
