doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='mainpage.css')
  body
    ul
      li
        a.active(href='#home') Home
      li
        a(href='#events') Events
      li
        a(href='#categories') Categories
      li
        a(href='#about') About
      li(style='float:right')
        a(href='#logout') Log Out
      li(style='float:right')
        a(href='#account') Account
