table {
  border: 1px solid #dcdcdc;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

td {
  padding: 0 25px;
}

tr:first-child td {
  padding-top: 25px;
}

tr:last-child td {
  padding: 25px;
}

.event-row {
  border-bottom: 1px solid #dcdcdc;
}

.event-name {
  font-size: 20px;
}

a.disabled {
  pointer-events: none;
}

.add-event-btn, .share-event-btn, .delete-event-btn {
  display: none;
}

button:disabled:hover {
  cursor: pointer;
}

#receiver-form {
  background-color: #527787;
  color: #fff;
  height: 400px;
  left: -400px;
  margin-top: -200px;
  opacity: 0.9;
  padding: 5px;
  position: fixed;
  top: 50%;
  width: 400px;
  z-index: 1;
}

#receiver {
  color: #000;
}

#body {
  resize: none;
}
