body {
  background: #f8f8fa;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #527787;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #DDA4A4;
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: #D16666;
}

a.active {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 20px;
}

#status {
  background-color: #E84855;
  height: 48px;
  left: 50%;
  font-size: 24px;
  margin-left: -250px;
  position: fixed;
  text-align: center;
  top: -48px;
  width: 500px;
  z-index: 1;
}
