body {
  background: #2C4251;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #527787;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #D16666;
}

.active {
  background-color: #D16666;
}

table {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 25px;
}

td {
  padding-left: 25px;
}

tr:first-child td {
  padding-top: 25px;
}

tr:last-child td {
  padding: 25px;
}

.event-row {
  border-bottom: 1px solid #fff;
}

.event-name {
  font-size: 20px;
}
