#messages-container {
  text-align: center;
}

table {
  margin: auto;
}

th, td {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 25px;
}

button {
  margin: 0 10px;
}

.unread {
  font-weight: bold;
}

#compose {
  display: none;
}

#inbox, #compose {
  text-align: left;
}
